:root {
  --primary-purple: #8b52ff;
  --secondary-pink: #ff52ae;
  --title-color: #220953;
  --text-color: #4b3e65;
  --text-color-light: #a197b4;
  --white-color: #ffffff;

  --first-color-light: #e5d9fd;
  --first-color-dark: #1e0849;

  --body-color: #f5f0ff;
  --container-color: #f5f0ff;

  --gradient-start: #ff52af;
  --gradient-end: #9f53ff;
}

[data-theme="dark"] {
  --primary-purple: #8b52ff;
  --secondary-pink: #ff52ae;
  --title-color: #d1c0f1;
  --text-color: #a094b8;
  --text-color-light: #a197b4;
  --white-color: #ffffff;

  --first-color-light: #e5d9fd;
  --first-color-dark: #1e0849;

  --body-color: #14092a;
  --container-color: #372a51;

  --gradient-start: #ff52af;
  --gradient-end: #9f53ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
