:root {
  --primary-purple: #8b52ff;
  --secondary-pink: #ff52ae;
  --title-color: #220953;
  --text-color: #4b3e65;
  --text-color-light: #a197b4;
  --white-color: #ffffff;

  --first-color-light: #e5d9fd;
  --first-color-dark: #1e0849;

  --body-color: #f5f0ff;
  --container-color: #ffffff;

  --gradient-start: #ff52af;
  --gradient-end: #9f53ff;

  --font-biggest: 2.75rem;
  --font-bigger: 2rem;
  --font-big: 1.75rem;
  --font-h1: 1.5rem;
  --font-h2: 1.25rem;
  --font-h3: 1rem;
  --font-h4: 0.938rem;
  --font-small: 0.813rem;
  --font-smaller: 0.75rem;
}

@media screen and (min-width: 768px) {
  :root {
    --font-biggest: 6rem;
    --font-bigger: 4rem;
    --font-big: 3.5rem;
    --font-h1: 2.25rem;
    --font-h2: 1.5rem;
    --font-h3: 1.25rem;
    --font-h4: 1rem;
    --font-small: 0.875rem;
    --font-smaller: 0.813rem;
  }
}

[data-theme="dark"] {
  --primary-purple: #8b52ff;
  --secondary-pink: #ff52ae;
  --title-color: #d1c0f1;
  --text-color: #a094b8;
  --text-color-light: #a197b4;
  --white-color: #ffffff;

  --first-color-light: #e5d9fd;
  --first-color-dark: #1e0849;

  --body-color: #14092a;
  --container-color: #372a51;

  --gradient-start: #ff52af;
  --gradient-end: #9f53ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: color 0.3s, background-color 0.3s;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Utils */
.utils__font-lora {
  font-family: "Lora", serif;
}

/* Animations */
.animations__growing-hover {
  display: inline-block;
  margin: 0;
}

.animations__growing-hover::after {
  display: block;
  content: "";
  border-bottom: solid 2px #b3e5e5;
  border-radius: 9999px;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.animations__growing-hover:hover::after {
  transform: scaleX(1);
}

.animations__growing-hover--left::after {
  transform-origin: 100% 50%;
}

.animations__growing-hover--left::after {
  transform-origin: 0% 50%;
}

.animations__growing-hover--center::after {
  transform-origin: 50% 50%;
}
